@charset "euc-kr";

/** gnb **/
div.gnb_new {
	font-family:'Cabin', sans-serif;
	clear:right;
	float:right;
	padding-top:65px;
	padding-bottom:-20px;
	width:830px;
	position:relative;
}

ul.gnb_list {
	float:left;
}

ul.gnb_list:after {
	content:"";
	clear:both;
	display:block;
}

ul.gnb_list li.d1 {
	color:#fff;
	position:relative;
	float:left;
	padding-left:5px;
	height:53px;
}

ul.gnb_list a.d1_link {
	color:#fff;
	position:relative;
	display:block;
	width:100%;
	height:33px;
	overflow:hidden;
	text-align:left;
	background-position:center top;
	background-repeat:no-repeat;
}

ul.gnb_list a.d1_link strong {
	color:#fff;
	display:block;
	padding-top:33px;
	height:0;
	font-size:0;
	text-indent:-10000px;
}

ul.gnb_list li.team{
	width:115px;
}

ul.gnb_list li.game{
	width:115px;
}

ul.gnb_list li.news{
	width:115px;
}

ul.gnb_list li.fanzone{
	width:125px;
}

ul.gnb_list li.supporter{
	width:135px;
}

ul.gnb_list li.event{
	width:140px;
}

ul.gnb_list li.team a.d1_link {
	width:115px;
	color:#fff;
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
	letter-spacing:-1px;
}

ul.gnb_list li.game a.d1_link {
	width:115px;
	color:#fff;
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
	letter-spacing:-1px;
}

ul.gnb_list li.news a.d1_link {
	width:115px;
	color:#fff;
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
	letter-spacing:-1px;
}

ul.gnb_list li.fanzone a.d1_link {
	width:125px;
	color:#fff;
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
	letter-spacing:-1px;
}

ul.gnb_list li.supporter a.d1_link {
	width:135px;
	color:#fff;
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
	letter-spacing:-1px;
}

ul.gnb_list li.event a.d1_link {
	width:140px;
	color:#fff;
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
	letter-spacing:-1px;
}

ul.gnb_list li a.hover strong, ul.gnb_list li.current a.d1_link strong {
	color:#665f54;
}

ul.gnb_list ul.d2_list {
	color:#fff;
	padding:15px 0 0 0;
	text-align:left;
}

ul.gnb_list ul.d2_list a.d2_link {
	display:block;
	margin:0;
	color:#fff;
	text-decoration:none;
	font-size:12px;
	letter-spacing:-1px;
	text-align:left;
	margin-left:-40px;
}

ul.gnb_list ul.d2_list a:hover {
	color:#665e54;
}

ul.gnb_list ul.d2_list li {
	line-height:0.6em;
	position:relative;
}

ul.gnb_list li.team {
	z-index:993;
}

ul.gnb_list li.game {
	z-index:994;
}

ul.gnb_list li.news {
	z-index:995;
}

ul.gnb_list li.fanzone {
	z-index:996;
}

ul.gnb_list li.supporter {
	z-index:997;
}

ul.gnb_list li.event {
	z-index:998;
}
