<!-- /* Custom Style Sheet (Korean) for n@log 5 */

a,a:link  { font-family: 'Tahoma','돋움','Dotum','굴림','Gulim','굴림체','GulimChe'; color: #18B5FF; text-decoration: none; }
a:visited { font-family: 'Tahoma','돋움','Dotum','굴림','Gulim','굴림체','GulimChe'; color: #18B5FF; text-decoration: none; }
a:active  { font-family: 'Tahoma','돋움','Dotum','굴림','Gulim','굴림체','GulimChe'; color: #008CD6; text-decoration: none; }
a:hover   { font-family: 'Tahoma','돋움','Dotum','굴림','Gulim','굴림체','GulimChe'; color: #008CD6; text-decoration: underline; }

body,td,select,input,div,form,textarea,center,option,pre,br {
			font-family: 'Tahoma','돋움','Dotum','굴림','Gulim','굴림체','GulimChe'; font-size: 9pt; color: #008CD6; }

body	  { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }

.button   { font-family: 'Tahoma','돋움','Dotum','굴림','Gulim','굴림체','GulimChe'; background-color: white; height: 20px;
				border-width: 1px; border-style: solid; border-color: #008CD6; }
.input	{ font-family: 'Tahoma','돋움','Dotum','굴림','Gulim','굴림체','GulimChe'; background-color: white;
				border-width: 1px; border-style: solid; border-color: #008CD6; }

//-->