<!-- /* n@log 5 햎톱ㄴㅵ퍈쮝셧─ろ */

a,a:link  { font-family: 'Tahoma','Verdana','Arial'; color: #18B5FF; text-decoration: none; }
a:visited { font-family: 'Tahoma','Verdana','Arial'; color: #18B5FF; text-decoration: none; }
a:active  { font-family: 'Tahoma','Verdana','Arial'; color: #008CD6; text-decoration: none; }
a:hover   { font-family: 'Tahoma','Verdana','Arial'; color: #008CD6; text-decoration: underline; }

body,td,select,input,div,form,textarea,center,option,pre,br {
            font-family: 'Tahoma','Verdana','Arial'; font-size: 9pt; color: #008CD6; }

body      { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }

.button   { font-family: 'Tahoma','Verdana','Arial'; background-color: white; height: 20px;
                border-width: 1px; border-style: solid; border-color: #008CD6; }
.input    { font-family: 'Tahoma','Verdana','Arial'; background-color: white;
                border-width: 1px; border-style: solid; border-color: #008CD6; }

/* n@log 5 햎톱ㄴㅵ퍈쮝ず켒콜셧─?쯹 */
.minichi  { font-family: '톝꾄ⁿ톱','PMingLiU'; font-size: 8pt; } /* ◁헕ㄴㅵ쫞ガ좥싻쩑 <span lang=zh-tw> 퍈챞??ⓒΞ */
select    { font-family: '톝꾄ⁿ톱','PMingLiU'; } /* 짾⒣울녔ⓒΞ톝꾄ⁿ톱ㄴㅵ쫞ガ좥쿽촑О?췦쩟ぉ? Windows ┱?쨁쩲ず */

//-->