@charset "utf-8";
#swimbi{
	padding: 25px 0px 0 0px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 9999;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	left: 0px;
}
#swimbi>ul{
	
	padding: 0 28px 0 28px !important;
	border-radius: 4px;
	box-shadow: 0px 0px 0px  0px rgba(85,85,85,0);
	width: auto;
	list-style: none;
	position: relative;
	white-space: nowrap;
	display: inline-table;
	font-size: 0px;
}
#swimbi ul, #swimbi li, #swimbi a{
	font-family: Verdana, Geneva, sans-serif !important;
	margin: 0;
	padding: 0;
}
#swimbi>ul>li{
	display: inline-block;

	vertical-align: top;
	font-size: 15px;
	position: relative;
}
#swimbi ul li:hover>ul{
	display: block !important;
	visibility: visible;
	opacity: 1;
	pointer-events:  all; -webkit-transform: translateY(0) scale3d(1,1,1); -ms-transform: translateY(0) scale3d(1,1,1); transform: translateY(0) scale3d(1,1,1); -webkit-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
}
#swimbi>ul>li:hover>a,#swimbi>ul>li.hvr>a{
	/* color: #fdde32 !important;*/
	color: #544e41 !important;
	border-radius: 0px;
	position: relative;
	z-index: 9;
}
#swimbi ul li:hover > a:only-child{ box-shadow:none;}
#swimbi ul li a{
	display: block;
	text-decoration: none;
	white-space: nowrap;
}
#swimbi ul ul li.hvr>a:after{
	border-left: 5px #fdde32 solid !important;
}

#swimbi ul ul li.hvr>a, #swimbi ul ul li.hvr>a:before{
	color: #fdde32 !important;
}

#swimbi>ul>li>a{
	padding: 0 36px 0 36px;
	line-height: 35px;
	height: 35px;
	color: #000000;
	margin-right: -1px;
}
#swimbi ul ul{
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	opacity: 0; -webkit-transform: translateY(-50%) scale3d(1,0,1); -ms-transform: translateY(-50%) scale3d(1,0,1); transform: translateY(-50%) scale3d(1,0,1);
	visibility: hidden;
	display: block;
	pointer-events: none;
	border-radius: 0px;
	background: #000000;
	width: auto;
	list-style: none;
	min-width: 140px;
	padding: 0px;
	position: absolute;
	z-index: 7;
	margin-top: 0;
	box-shadow: 0px 0px 0px  0px rgba(85,85,85,0);
	top: 33px;
}
#swimbi ul ul li:not(.column)>ul:before, #swimbi ul li:not(.column)>ul:before{
	content: '';
	display: block;
	background: rgba(99,1,1,0);
	position: absolute;
	z-index: -6;
	width: 100%;
	height: 100%;
	padding: 8px 2px 30px 30px;
	top: -8px;
	left: -30px;
}

#swimbi ul ul li:not(.column)>ul[data-keepv]:before{
	left: 0px;
	padding: 8px 0;
}

#swimbi ul li:not(.column)>ul:before{
	padding: 8px 30px 30px 30px;
}

#swimbi ul ul li:not(.column)>ul:after{
	content: '';
	position: absolute;
	z-index: -5;
	top: 8px;
	left: -51px;
	width: 42px;
	height: 42px;
	background: rgba(99,1,1,0);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#swimbi>ul>li:hover:before,#swimbi>ul>li:hover:after{
	content: '';
	position: absolute;
	z-index: 4;
	top: 19.5px;
	left: -24.5px;
	width: 49px;
	height: 49px;
	background: rgba(99,1,1,0);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#swimbi>ul>li:hover:after{
	left: 100%;
	margin-left: -24.5px;
}

#swimbi ul>li:not(.column)>ul{
	border: 1px solid rgba(0,0,0,0.47);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.47), rgba(19,19,19,0.47));
	background:	-moz-linear-gradient(top, rgba(0,0,0,0.47), rgba(19,19,19,0.47));
	background:	 -ms-linear-gradient(top, rgba(0,0,0,0.47), rgba(19,19,19,0.47));
	background:	  -o-linear-gradient(top, rgba(0,0,0,0.47), rgba(19,19,19,0.47));
	background:		 linear-gradient(top, rgba(0,0,0,0.47), rgba(19,19,19,0.47));
}
#swimbi ul ul.columns{
	font-size: 0px;
}

#swimbi ul ul li.column{
	display: inline-block;
	width: auto;
	vertical-align: top;
}

#swimbi ul ul li.column>ul{
	position: relative;
	display: block;
	box-shadow: none;
	background: none;
	left:0;
	padding: 0;
	visibility: visible;
	opacity: 1;
	transform: none;
	-ms-transform: none;
	-webkit-transform: none;
}

#swimbi ul ul li.column>ul:hover{
	z-index: 9;
}

#swimbi ul ul li{
	float: none;
	position: relative;
	width: 100%;
	text-align: left;
}
#swimbi ul ul li a{
	padding-left: 29px;
	padding-right: 34px;
	line-height: 30px;
	height: 30px;
	color: #fefefe !important;
}
#swimbi ul ul li>a:not(:only-child):after{
	content: '';
	position: absolute;
	right: 24px;
	top: 50%;
	margin: -2px 5px;
	width: 0;
	height: 0;
	border-left: 5px #fefefe solid;
	border-top: 4px dashed transparent;
	border-right: none;
	border-bottom: 4px dashed transparent;
}

#swimbi ul ul li:hover>a:after{
	border-left: 5px #fdde32 solid;
}

#swimbi ul ul>li>a:only-child{
	padding-right: 29px;
}
#swimbi ul ul>li>a[data-icon], #swimbi ul.mixicon>li>a{
	padding-right: 47px;
}
#swimbi ul ul>li>a[data-icon]:only-child, #swimbi ul.mixicon>li>a:only-child, #swimbi ul li.column>ul.mixicon>li>a:only-child{
	padding-right: 42px;
}
#swimbi ul li.column>ul>li>a:before, #swimbi ul ul>li>a:only-child:before{
	padding-right: 0px;
}
#swimbi ul li.column>ul>li>a[data-icon]:before, #swimbi ul li.column>ul.mixicon>li>a:before{
	padding-right: 0px;
}
#swimbi ul li.column>ul>li>a[data-icon], #swimbi ul li.column>ul.mixicon>li>a{
	padding-right: 34px;
}
#swimbi ul li.column>ul>li>a[data-icon]:only-child{
	padding-right: 29px;
}
#swimbi ul ul li:hover>a{
	color: #fdde32 !important;
	box-shadow: none;
}
#swimbi canvas{
	position: absolute;
	width: 1px;
	height: 1px;
}
canvas noscript{
	display: none;
}
#swimbi ul ul ul{
	position: absolute;
	z-index: 7;
	left: 99%;
	top: 2px;
}
#swimbi li.column>ul{
	top: 0;
}
#swimbi a:not([href]){
	cursor: default;
}
#swimbi a.B{
	font-weight: bold !important;
}
#swimbi a.I{
	font-style: italic !important;
}
#swimbi a.U{
	text-decoration: underline !important;
}
@media (max-width: 5px) {
	#swimbi>ul{
		min-width: 300px !important;
		width: 100%;
		height: 35px;
		padding: 0 !important;
	}

	#swimbi ul li{
		float: none;
		display: block;
		position:relative;
	}

	#swimbi>ul>li{
		width: auto !important;
		margin: 0 1px 0 1px;
	}

	#swimbi>ul>li>a,#swimbi>ul:hover:before,#swimbi>ul:hover:after{
		display:none;
	}

	#swimbi>ul:hover>li>a,#swimbi .hvr>li>a{
		display: block !important;
	}

	#swimbi>ul>li:hover{
		z-index: 9 !important;
	}

	#swimbi>ul>li.hvr{
		z-index: 8 !important;
	}

	#swimbi>ul:after {
		line-height: 33px;
		content: 'Menu';
		font-family: Verdana, Geneva, sans-serif !important;
		font-size: 15px;
		color: #ffffff;
		float:right;
		padding-right: 15px;
	}

	#swimbi>ul:hover:after, #swimbi>ul.hvr:after {
		display: none;
	}

	#swimbi>ul:before {
		float: right;
		line-height: 35px;
		content: '';
		margin: 12px 22px 11.75px 0;
		width: 15px;
		height:2.25px;
		border-top: 6.75px double #ffffff;
		border-bottom: 2.25px solid #ffffff;
		box-sizing: content-box;
	}

	#swimbi>ul:hover:before, #swimbi>ul.hvr:before {
		opacity: 0;
	}

	#swimbi ul ul ul{
		margin-top: 30px;
	}

	#swimbi a[data-show]{
		display: block;
	}

	#swimbi ul ul {
		left: 35px !important;
	}

	#swimbi ul ul li:not(.column)>ul:before, #swimbi ul li:not(.column)>ul:before{
		padding: 8px 2px 2px 2px;
		left: -2px;
	}

	#swimbi ul ul li.column{
		display: block;
	}

	#swimbi ul ul li.column>ul{
		left: 0 !important;
		margin-top: 0;
	}

}
